@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/global" as *;

.header{
    display: flex;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: $saffron;
    border-radius: 20px;
    &__heading{
        margin-left: 4rem;
    }
    &__icon-wrapper{
        margin-left: auto;
        margin-right: 4rem;
        display: flex;
        align-items: center;
    }
    &__icon{
        width: 40px;
        height: 40px;
        margin-left: 1rem;
        cursor: pointer;
        &:hover{
            scale: 1.05;
        }
    }
}